<mat-sidenav-container class='app-drawer-container' fullscreen>
    <mat-sidenav #sidenavHistory mode="side">
        <h2>History</h2>
        <app-history></app-history>
    </mat-sidenav>
    <mat-sidenav #sidenavBookmarks position="end" mode="side">
        <h2>Bookmarks</h2>
        <app-bookmarks></app-bookmarks>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="navBar" style="display: flex; justify-content: flex-end">
            <button (click)="sidenavBookmarks.toggle()" mat-flat-button color="primary"
            matBadge={{numberOfBookmarks}} matBadgePosition="after" matBadgeColor="accent">
            Bookmarks
            </button>
             <button mat-button (click)="sidenavHistory.toggle()">History</button>  
            </div>
    <mat-card class="card-box">
        <mat-card-title>	
            Insert a youtube link to watch
        </mat-card-title>
    <app-search-bar ></app-search-bar>
    <app-video-view ></app-video-view>
    </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>